:root {
    --primary-color: #C5D2EC;
    --background-color: #0a192f;
    --font: 'Roboto', sans-serif;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
}

header {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 20px;
}

.profile-section {
    display: flex;
    align-items: start; /* Alignement vertical des éléments au début */
    gap: 20px; /* Espace entre les éléments */
}

.profile-section img {
    flex: 1; /* L'image prendra 1/3 de l'espace disponible */
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas son conteneur */
    height: auto; /* Pour maintenir le ratio d'aspect de l'image */
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    border-color: #53CFD1;
}

.profile-section div {
    flex: 3; /* Le texte prendra 2/3 de l'espace disponible */
}

.section{
    flex: 1;
    margin: 15px;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    border-color: #53CFD1;
    background-color: #020c1b;
}

.profilepic, .aboutmetxt {
    width: 50%;
}

.section h2 {
    color: var(--primary-color);
}

.section p {
    line-height: 1.6;
}

#colored-title {
    color: #53CFD1;
}

#chatbox {
    color:#020C1B;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 50px;
    max-height: 760px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: rgba(0,0,0,0.5);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: height 0.5s;
}

#chatbox:hover {
    height: 760px;
    width: 400px;
}

#chat-label {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #53CFD0;
    color: #020C1B;
}

#chatbox:not(:hover) #chat-label { 
    display: block;
    padding: 15px;
}

#chat-answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    color:#0a192f
}

.chat-log-bot {
    align-self: flex-end;
}

.chat-log-user {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color:cornsilk;
    color: black;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-log-bot {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color:darkseagreen;
    color: black;
    max-width: 80%;
    word-wrap: break-word;
}

#chat-form {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e5e2e2;
}

#chat-input {
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#chat-send {
    width: 15%;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-align: center;
}

#chat-send:hover {
    background-color: #45a049;
}